{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h2>Login Page</h2>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ app.facebook.appId }}', // App ID
            //channelUrl : '//ulug.bek/channel.php', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        FB.Event.subscribe('auth.login', function(response) {
            window.location.reload();
        });
    };
    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<div class="fb-login-button" scope="email">
    Login with Facebook
</div>

{% endblock %}